@import "node_modules/bootstrap/less/bootstrap";
@import "node_modules/font-awesome/less/font-awesome";
@import "node_modules/datatables-bootstrap3-plugin/media/css/datatables-bootstrap3";
@import "node_modules/selectize/dist/less/selectize.bootstrap3";
@import "node_modules/selectize/dist/less/plugins/remove_button";
@import "node_modules/bootstrap-material-design/less/bootstrap-material-design";
@import "../timepicki/timepicki";
@import "assistence";
@import "helper-classes";



/*Variables*/
@border-color-base: #03A9F4;

/*configs doto projeto*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.form-group {
  padding-bottom: 0px;
  margin: 0;
}
.label-floating {
  padding-bottom: 0px;
  margin-top: 30px;
}

#map {
  min-height: 82vh;
  max-height: 82vh;
}

.panel-filter {
  min-height: 82vh;
}

/*Selectize*/
.selectize-control.single .selectize-input:after,
.selectize-control.multi .selectize-input:after,
.selectize-control.single .selectize-input.input-active:after,
.selectize-control.multi .selectize-input.input-active:after {
    content: "";
}